
nav {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color: bisque;
}

textarea {
    width: 98%;
    box-sizing: border;
    height: 150px;
    background-color: antiquewhite;
    padding: 0 16px;
}

text {
    background-color: cadetblue;
}

.main {
    margin: 8px 50px;
}

body {
    margin: 0;
}

.container {
    margin: 8px 32px;
}

div {
    display: flex;
}

hed {
    background-color: rgb(56, 189, 189);
    display: flex
}

me {
    display: flex
}

balan {
    display: flex
}

bank {
    display: flex
}

finan {
    display: flex
}

flexgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
